@font-face {
  font-family: "voyage";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(voyagefantastique.woff2) format("woff2"),
    url(voyagefantastique4.woff) format("woff");
}
